<!-- <h1>{{message}}</h1>-->


<!-- <button (click)="student()">Student Status</button>

<nav>
    <a [routerLink]="['/student']">Student</a> <br/>
    <a [routerLink]="['/studentdetails']">Student Details</a> <br/>
    <a [routerLink]="['/pagenot']">Page Not</a> <br/>
    <a [routerLink]="['/departments']">Departments</a><br/>
    <a [routerLink]="['/contact']">Contact</a><br/>
    <a [routerLink]="['/customer']">customer</a>
</nav> -->

<!-- <div class="customer-form">
    <app-customer-form></app-customer-form>
</div>
<div class="contact-form">
    <app-contact-form></app-contact-form>
</div>-->
<app-blogs></app-blogs>
<router-outlet></router-outlet>