<!---<p>
  <label>Name:</label>
  <input type="text" id="name" name="name" [formControl]="name">
 
</p>
<p>{{name.value}}</p>-->

<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>First Name:</label>
      <input type="text" formControlName="firstName" required>
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        <div *ngIf="firstName.errors.required" class="form-error">Name is required</div>
        <div *ngIf="firstName.errors.minlength" class="form-error">Must be at least 4 characters</div>
      </div>
    </div>

    <p>
      <label>Last Name:</label>
      <input type="text" formControlName="lastName" required>
    </p>

    <div formGroupName="address">
      <h3>Address</h3>
      <p>
        <label>Street</label>
        <input type="text" formControlName="street" required>
      </p>
      <div class="form-group">
        <label>City</label>
        <input type="text" formControlName="city" required>
        <div *ngIf="city.invalid && (city.dirty || city.touched)">
          <div *ngIf="city.errors.required" class="form-error">City is required</div>
        </div>
      </div>
      <p>
        <label>State</label>
        <input type="text" formControlName="state" required>
      </p>
      <p>
        <label>Zipcode</label>
        <input type="text" formControlName="zipcode" required>
      </p>

      <p>
        <label>&nbsp;</label>
        <button type="submit" [disabled]="!customerForm.valid">Submit</button>
      </p>
    </div>
</form>


<p>{{customerForm.value | json}}</p>